
<div>
  <h1> 
Ajouter un utilisateur
  </h1>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field  appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput [formControl]="firstname"  placeholder="Nom">
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
  <mat-label>Prénom</mat-label>
  <input matInput [formControl]="lastname"  placeholder="Prénom">
</mat-form-field>
<br>
<mat-form-field  appearance="fill">
<mat-label>Email</mat-label>
<input matInput [formControl]="userEmail"  placeholder="Email">
</mat-form-field>
<br>
  <mat-form-field  appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select matInput [formControl]="userRole">
      <mat-option   value="1">Administrateur</mat-option>
      <mat-option  value="2">Responsable de maintenance</mat-option>
      <mat-option   value="3">Usager</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button type="submit">Ajouter</button> 
  </mat-dialog-actions>

</form> 