
<div>
    <mat-toolbar-row>
      
      <button mat-raised-button class="login-button" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Se connecter</button>
      <button mat-raised-button style="cursor:pointer" *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Déconnexion</button> 
      <h1>Résidence GISÈLE HALIMI</h1>
      <h2>Plateforme de Maintenance </h2>
      <img  id= "img" src="assets/img/3.jpg">
    </mat-toolbar-row>  
  </div>   

<div><router-outlet></router-outlet> </div>

