button {
   
    box-shadow: 0px 5px 5px rgb(117, 116, 117);
    background-color:rgb(255, 255, 255,0.8);
    border-style:solid;
    border-radius: 7px;
    border-width: 0.25ex;
    text-align: center;
    vertical-align: center;
    font-size: 0.75em;
    float: right !important;
    right :0 !important;
    margin-right: 1%;
    position: absolute;
    z-index: 2;
}

.login-button{
    border-color:rgb(18, 75, 235);
    color: rgb(18, 75, 235);
    text-align: center;

}
h1 {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 5%;
  left: 30%;
  font-size: 350%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: chartreuse;
  
}
h2{
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 13%;
  left: 36%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 300%;
  color: blue;

}
#img{
  float: left !important;
  left :0 !important;
  margin-left: 1%;
  width: 15%;
  height: 10%;
  

}