textarea {
    width: 50%;
    color : green;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

div {
    width : 80%
}

