<link rel="stylesheet" href="usager-dashboard.component.css" media="screen" type="text/css" />
        <div class="form-group">
            <div class="card-header">
              <h1 class="sign" align="center">Résidance Gisèle Halimi</h1>
              <h2 class="sign" align="center">Maintenance</h2>
            </div>
            <div class="card-body">
              <h3 class="sign" align="center">formulaire</h3>
              <form class="form">
                <div class="form-group" align = "center">
                  <input type="text"  id="nom" placeholder="nom">
                </div>
                <div class="form-group" align = "center">
                  <input type="text" id= "prenom" placeholder="Prénom">
                </div>
                <div class="form-group" align = "center">
                  <input type="text" placeholder="Numéro de téléphone" >
                </div>
                <div class="form-group" align = "center">
                  <input type="text" id="texte" placeholder="Décrivez l'anomalie">
                </div>
                <div class = "form-group" align = "center">
                  <button type="button"  id= "mdp" class="submit" align ="center">Envoyer</button>
                </div>    
              </form>
            </div>
          </div>
  